
body{
    background-image: url("./im.jpeg");
}

.title{
    text-align: center;
    color:white;
    background-color: lightblue;
    height: 100px;
}
#info{
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: 20em;
    
}

#manip{
    display:block;
    text-align: center;
    font-size: 5em;
    height:100;
    background-color: lightgrey;
}

#enter{
    background-color: lightblue;
    color:white;
}

#footer{
    display:block;
    border : dotted;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 30em;
    margin-top: 10em;
    height:10em;
    background-color: lightblue;
}

#pic{
     display:block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 30em;
}